* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.container-fluid {
  background-image: url("attachments/ignasi_pattern_s.png");
  min-height: auto;
  position: relative;
}

.main {
  overflow: auto;
  padding-bottom: 200px;
  vertical-align: text-top;
}

.navbar-brand.navbar-brand {
  color: white;
}

h1 {
  color: white;
  text-align: center;
  z-index: 100;
  position: relative;
}

p {
  color: white;
  text-align: center;
  z-index: 100;
  position: relative;
}

.page_footer {
  padding-top: 10px;
  background-color: rgb(18, 159, 149);
  position: relative;
}

#footer {
  background-color: rgb(83, 83, 83);
  position: relative;
  height: 100px;
  margin-top: -100px;
  clear: both;
}
