* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.container-fluid {
  background-image: url("attachments/ignasi_pattern_s.png");
  min-height: auto;
  display: flex;
  position: relative;
}

.navbar-brand.navbar-brand {
  color: white;
}

h1 {
  color: rgb(18, 159, 149);
  text-align: left;
  z-index: 100;
  position: relative;
  margin-left: 20px;
}

p {
  text-align: justify;
  color: black;
  text-align: center;
  z-index: 100;
  position: relative;
  margin-left: 10px;
}

.card {
  margin-left: 20px;
  margin-right: 100px;
  margin-bottom: 100px;
  vertical-align: text-top;
  flex: auto;
  overflow: auto;
  background-color: white;
  float: right;
  margin: 10px;
}
.page_footer {
  padding-top: 10px;
  background-color: rgb(18, 159, 149);
  position: relative;
}

#footer {
  background-color: rgb(83, 83, 83);
  position: relative;
  height: 100px;
}

.mypicture {
  width: 20px;
  height: 20px;
  object-fit: scale-down;
}
