.navbar-brand.navbar-brand {
  color: white;
}

.container-fluid {
  position: relative;
  min-height: 95.8vh;
  background-image: url("attachments/ignasi_pattern_s.png");
}

h1 {
  color: rgb(18, 159, 149);
  text-align: left;
  z-index: 100;
  position: relative;
  margin-left: 20px;
}

p {
  color: black;
  margin-left: 10px;
  margin-top: -5%;
  word-wrap: break-word;
}

.card {
  max-width: 100%;
  float: left;
  margin-top: 15%;
}
.accent_footer {
  background-color: rgb(18, 159, 149);
  position: absolute;
  width: 100%;
  height: 0.5rem;
}

#main_footer {
  background-color: rgb(83, 83, 83);
  position: absolute;
  height: 2.5rem;
  width: 100%;
}

img {
  margin-left: 10px;
  float: left;
  padding-right: 5%;
}
